################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

**/packages
**/.vs
**/obj
**/bin

**/.vscode
**/__pycache__
**/venv
**/node_modules

